packaging
torch
langchain
langchain_community
pypdf
accelerate
huggingface-hub
transformers
sentence-transformers
FlagEmbedding
fastapi
multipart
langchain-huggingface
chromadb
uvicorn
flashrank
flash-attn
flash-attention